@import "tailwindcss";

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@assets/fonts/Roboto-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: wrap;
}

@theme {
    --font-family-base: 'Roboto', sans-serif;
    --color-red: #C53720;
    --color-green: #3CC051;
    --color-grey: #A5A5A5;
    --color-black1: #0E0E0E;
    --color-black2: #1D1D1D;

    --breakpoint-sm: 480px;
    --breakpoint-md: 767px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1920px;
}

@layer base {
    html {
        overflow-x: hidden;
    }

    body {
        position: relative;
        overflow-x: hidden;
        line-height: 1.5;
    }
}

@layer utilities {
    .container {
        max-width: calc(1200px + 40px);
        width: 100%;
        padding-inline: 20px;
        margin-inline: auto;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .filter {
        top: var(--scroll-top);
    }

    .container.px-0 {
        padding-inline: 0px;
    }

    .abs-center {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .bg-home-welcome,
    .bg-home-about,
    .bg-home-products {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .bg-home-welcome--1 {
        background-image: url('@assets/images/home-component/welcome-section/first.jpg');
    }

    .bg-home-welcome--2 {
        background-image: url('@assets/images/home-component/welcome-section/better-uslugi.jpg');
    }

    .bg-home-welcome--3 {
        background-image: url('@assets/images/home-component/welcome-section/car-3.jpg');
    }

    .bg-home-welcome--4 {
        background-image: url('@assets/images/home-component/welcome-section/supra.jpg');
    }

    .bg-home-products--phara {
        background-image: url('@assets/images/home-component/products-section/bg-phara.png');
    }

    .bg-home-about--porsche {
        background-image: url('@assets/images/home-component/about-section/bg-porsche-center.png');
    }

    .bg-home-products--akkum {
        background-image: url('@assets/images/catalog-component/categories/akkumulyator.png');
    }

    .bg-home-products--avtomasla {
        background-image: url('@assets/images/catalog-component/categories/avtomaslo.png');
    }

    .bg-home-products--avtohimia {
        background-image: url('@assets/images/catalog-component/categories/avtohimia.png');
    }

    .bg-home-products--aksess {
        background-image: url('@assets/images/catalog-component/categories/aksessuari.png');
    }

    .bg-page-about-hero {
        background-image: url('@assets/images/about-component/about.png');
    }

    .bg-page-contacts-hero {
        background-image: url('@assets/images/contacts/welcome-section/car-women.png');
    }

    .bg-page-basket-hero {
        background-image: url('@assets/images/home-component/welcome-section/landscape.jpg');
    }

    .bg-page-contacts-question {
        background-image: url('@assets/images/contacts/question-section/bg-car.png');
    }

    .bg-footer {
        background-image: url('@assets/images/global-components/footer-bg.png');
    }

    .bg-home-about-temp {
        background-image: url('@assets/images/global-components/temp-image.png');
    }

    .icon-tel {
        background-image: url('@assets/icons/tel-icon.svg');
    }

    .icon-email {
        background-image: url('@assets/icons/email-icon.svg');
    }

    .paganation-is-active {
        background-color: var(--color-red);
    }
}

@media(max-width: 480px) {

    .bg-home-welcome--2 {
        background-image: url('@assets/images/home-component/welcome-section/better-uslugi.jpg');
    }

    .bg-home-welcome--3 {
        background-image: url('@assets/images/home-component/welcome-section/other-car.jpg');
    }

    .bg-home-welcome--4 {
        background-image: url('@assets/images/home-component/welcome-section/supra-mobile.jpg');
    }
}